a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Encode Sans', sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.content {
    width: 1250px;
    margin: 0 40px 0 40px;
}

.g1_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
/*     
    CUIDADO MUDAR AQUI DEPOIS
    TA HARDCODED */

    width: 650px;
}

.g1_description {
    font-size: 14px;
    font-weight: 400;
}

.g1_img {
    border-radius: 12px;
    width: 193px;
    height: 110px;
    margin-bottom: 16px;
}

.g1_mini_title {
    color: #C4170C;
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 500;
}

.g1news_no_img_container {
    display: flex;
}

.g1news_no_img {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px;
    margin: 0 25px 25px 0;
    width: 193px;
}

.g1news_w_img_container {
    display: flex;
    margin: 15px 0 15px;
    border-bottom: 1px solid #ebedef;
}

.g1news_w_img {
    display: flex;
    flex-direction: column;
    width: 193px;
    margin: 0 25px 25px 0;
}

.g1_title {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 700;
}

.globo_logo {
    display: block;
    width: 171px;
    margin: 0 auto;
}

.main_container {
    text-decoration: none;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebedef;
}

.main_news {
    color: #c4160c;
    font-size: 52px;
    margin-bottom: 16px;
    font-weight: bold;
}

.scnd_news {
    color: #303134;
    font-size: 18px;
}

.top_bar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f5f6f7;
    border-bottom: 1px solid #f5f6f7;
}

.top_item {
    height: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
}